body{
    background-color: white;
    padding: 10px;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    width: 50px;
    height: 50px;
}

.logo img{
    height: 100%;
}

ul{
    display: flex;
}

ul li{
    list-style-type: none;
    padding-left: 30px;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: green;
}

.hero{
    background-image: url(image/Marco-Mazzoni-Photo-of-the-artist-Image-via-pinterest.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.herotext{
    display: flex;
    font-size: 100px;
}

.herotext1{
    width: 60%;
}

.parent1{
    padding-top: 150px;
}

button {
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.herotext2{
    width: 40%;
}

.parent2{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.child1{
    width: 700px;
}

.child1 img{
    width: 100%;
}
